h1 {
    color: rgb(14, 119, 218);
    text-align: center;
}

div {
    width: 50%px;

    color: rgb(28, 122, 215);

    margin: 3%;
    padding: 5%;

    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;



}


span {
    color: darkblue;

    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

button {
    color: rgb(18, 5, 31);
}

p {
    text-align: center;
    font-size: medium;
    color: black;
}